* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: #000;
}

/* General styles */

body {
    opacity: 0.9;
}

p {
    color: seashell;
    font-size: 22px;
}

h2 {
    color: seashell;
    font-size: 2.5em;
}

h3 {
    color: seashell;
    font-size: 1.8em;
}

h4 {
    color: seashell;
    font-size: 1.25em;
}

h5 {
    color: seashell;
    font-size: 1em;
}

/* Header and Navbar */

header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    border: 1px solid seashell;
    width: 100%;
    z-index: 999;
}

.logo {
    margin-left: 10px;
}

.logo img {
    height: 50px;
}

.navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: seashell;
}

.navbar li {
    margin-right: 30px;
    text-decoration: underline;
}

.navbar li:last-child {
    margin-right: 20px;
}


/* Section 1 - Mission */

.mission {
    text-align: center;
    position: relative;
    height: 700px;
}

.mission img {
    margin-top: 69px;
    width: 1200px;
    height: 700px;
}

.mission h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 20px 0px 10px 0px;
}

.mission h4 {
    position: absolute;
    top: 59%;
    width: 100%;
    padding: 10px 0px 20px 0px;
}

/* Section 2 - Tea of the Month */

.monthly {
    position: relative;
    width: 100%;
    top: 10%;
    text-align: center;
}

.monthly .heading {
    margin-bottom: 20px;
}

.monthly-container {
    margin-top: 20px;
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categories img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.categories h4 {
    margin: 10px 0px;
}

/* Section 3 - Locations */

.locations {
    text-align: center;
    position: relative;
    top: 150px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.locations img {
    display: inline-block;
    width: 100%;
    max-height: 500px;
}

.locations h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.overlay {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    flex-wrap: wrap;
}

.venues {
    width: 300px;
    min-height: 300px;
    text-align: center;
    line-height: 4em;
    padding-top: 20px;

/*     display: inline-block;
    position: absolute;
    top: 30%; */
}

/* Section - Contact */

.contact {
    position: relative;
    top: 20%;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Section - Footer */

footer {
    position: relative;
    top: 25%;
    margin-left: 20px;
}